* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding-top: 63px;
}

.link {
    text-decoration: none;
}


.logo {
    width: 334px;
    height: 79px;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.list_top_menu {
    background-color: rebeccapurple;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
    margin-top: 40px;
}


.top_menu {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: block;
    height: 69px;
    padding: 24px 38px 18px 24px;
    border-left: #FFFFFF solid 1px;
}

.top_menu:hover {
    background-color: #222F3A;
}

.border_right {
    border-right: #FFFFFF solid 1px;
}

.main {
    display: flex;
    /*height: 100vh;*/
}

.list_left_menu {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid black;;
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.left_menu {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    display: block;
    padding-left: 44px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.left_menu:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
}

.main_section {
    margin-left: 52px;
    display: flex;
    flex-direction: column;
}

.image_border {
    max-width: 885px;
    height: 529px;
    background: mediumpurple;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 320px;
    height: 381px;
}

.image:hover img {
    transform: scale(1.3);
}

img {
    transition: transform 0.9s;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
}

.footer {
    height: 69px;
    background: purple;
    margin-top: 54px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.list_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 875px;
}

.bottom_menu {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.bottom_menu:hover {
    color: #3181A6;
    border-bottom: #3181A6 solid 2px;
    padding-bottom: 10px;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}